@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  background-color: #f5f3f1 !important;
  height: 100vh;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.2em;
}
.page-container {
  min-height: 38vh;
  padding-top: 5rem;
}
.lightGray {
  background-color: #f5f3f1 !important;
}
a.nav-link,
.green-text,
h1,
p,
footer .btn {
  color: #255350 !important;
  text-decoration: none;
}

body .green,
footer {
  background-color: #255350;
}

body footer,
body footer p,
footer ::-webkit-input-placeholder {
  color: white !important;
}
.features-card {
  background-color: #eaf9f8;
  height: 200px;
}
footer .btn {
  background-color: #a5e2de;
}
footer .btn,
footer input {
  border: 2px solid #a5e2de !important;
}

footer {
  margin-top: 113px;
}

.blueGreen-text {
  color: #2c8680 !important;
}
.blueGreen-border {
  border: 2px solid #2c8680 !important;
}
.blueGreen {
  background-color: #2c8680 !important;
}

.text {
  font-size: 1.1em;
}
.w-90 {
  width: 90%;
}

.result-card {
  background-color: #eaf9f8;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
